@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "AccountMainPage";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<br />
<h1>Your Assets</h1>
<br />




    <table class=" table table-hove">
        <thead align="center">
            <tr>
                <th scope="col">AssetID</th>
                <th scope="col">Loaction</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody align="center">
            @foreach (var a in @Model.OwnAssetsList)
            {
                var AssetSerialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);                                                                                //var dSerialModel = Newtonsoft.Json.JsonConvert.DeserializeObject(serialModel);
                <tr>
                    <td>@a.AssetID</td>
                    <td>@a.Loaction</td>
                    <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" onclick="ViewAssetDeteils( @AssetSerialModel)">View Details</button></td>
                </tr>
            }
        </tbody>
    </table>


    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="dialogTitle">Asset Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="asset_dialog_body">
                    <center><img class="w-75 p-3" id="dialogImageURL"></center>
                    <p id="dialogAssetID"></p>
                    <p id="dialogOwnerID"></p>
                    <p id="dialogOwnerPublicKey"></p>
                    <p id="dialogLoaction"></p>
                    <p id="dialogAreaIn"></p>
                    <p id="dialogRooms"></p>
                    <p id="dialogPrice"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @section scripts
{

        <script type="text/javascript">
            $(document).ready(function () //set bold on the links to this page
            {
            document.getElementById("assetsNavBar").style.textDecoration = "underline";
            document.getElementById("assetsNavBar").style.fontWeight = "bold";
            });


        function getPriceInILS(EthPrice)  //convert price from ETH to ILS
        {
            var exchangeRate = @Model.exchangeRateETH_ILS;
            var IlsPrice = exchangeRate * EthPrice;
            IlsPrice = IlsPrice.toFixed(2);
            var IlsPriceToReturn = IlsPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return IlsPriceToReturn;
        }

        function ViewAssetDeteils(assetJson) //open own assets details (from db)
        {
            var fullPublicKey = assetJson.OwnerPublicKey;
            var partOne = fullPublicKey.substring(0, 12);
            var partTwo = " . . . ";
            var partThree = fullPublicKey.substring(32, fullPublicKey.length);
            var publicKeyToShow = "" + partOne + partTwo + partThree;
            document.getElementById("dialogAssetID").innerHTML = "Asset No : ".bold() + assetJson.AssetID;
            document.getElementById("dialogOwnerID").innerHTML = "Your ID : ".bold() + assetJson.OwnerID;
            document.getElementById("dialogOwnerPublicKey").innerHTML = "Your PublicKey :\n".bold() + publicKeyToShow;//param.OwnerPublicKey ;
            document.getElementById("dialogLoaction").innerHTML = "Loaction : ".bold() + assetJson.Loaction;
            document.getElementById("dialogAreaIn").innerHTML = "AreaIn : ".bold() + assetJson.AreaIn +"&nbsp m^2";
            document.getElementById("dialogRooms").innerHTML = "Rooms : ".bold() + assetJson.Rooms;
            document.getElementById("dialogImageURL").setAttribute("src", assetJson.ImageURL);
            document.getElementById("dialogPrice").innerHTML = "Purchase Price : ".bold() + assetJson.Price + " ETH / ₪" + getPriceInILS(assetJson.Price);
            $('.table tbody').on('click', '.btn', function () {
                var row = $(this).closest('tr');
                var col = row.find('td:eq(1)').text();
                //document.getElementById("asset_dialog_body").innerHTML("vddv");
            })
        }
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        })
        </script>
    }
