@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "CreateContract";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<br />
<h1>Create Contract</h1>
<br />
<h3>Prepare a contract</h3>
<br />




<div style="display:inline-flex">
    <select name="" required class="custom-select w-auto" id="AssetSelector">
        <option value="Deafult">Choose Asset</option>
        @foreach (var a in @Model.OwnAssetsList)
        {
            var AssetSerialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);
            <option value=@AssetSerialModel>Asset No: @a.AssetID</option>
        }
    </select>
    <small class="ml-2" style="color:red">*Only available assets will be included</small>
    <br />
    <br />
</div>
<div style="display:flex">
    <div>
        @using (Html.BeginForm("DeployContract", "CreateContract", FormMethod.Post, new { @id = "DeployContractForm" }))
        {
            <table>
                <tr>
                    <td>

                        <label>Asset ID:</label>
                        <input name="AssetID" class="form-control form-control-sm w-auto" type="text" id="AssetIdTxt" disabled>
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <label>Your ID:</label>
                        <input name="OwnertID" class="form-control form-control-sm w-auto" type="text" id="OwnerIdTxt" disabled>
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <label>Your Public Key:</label>
                        <input name="SellerPublicKey" class="form-control form-control-sm w-auto" type="text" id="OwnerPublicKeyTxt" disabled>
                        <br />
                    </td>
                </tr>

                <tr>
                    <td>

                        <label>Loaction:</label>
                        <input name="Loaction" class="form-control form-control-sm w-auto" type="text" id="LoactionTxt" disabled>
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <label>Area-In [m^2]:</label>
                        <input name="AreaIn" class="form-control form-control-sm w-auto" type="number" id="AreaInTxt" disabled>
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <label>Rooms:</label>
                        <input name="Rooms" class="form-control form-control-sm w-auto" type="number" id="RoomsTxt" disabled>
                        <br />
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <label>Buyer Public Key</label>
                        <input name="BuyerPublicKey" required class="form-control form-control-sm w-auto" type="text" id="BuyerAddressTxt" placeholder="" disabled>
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <label>Price [ETH]:</label>
                        <input  name="PriceETH" required class="form-control form-control-sm w-auto" step="0.1" type="number" id="PriceEthTxt" min="0" placeholder="" disabled onchange="SetIlsPrice()">
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <label>Price [₪]:</label>
                        <input name="PriceILS" class="form-control form-control-sm w-auto" id="PriceIlsTxt" disabled>
                        <br />
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <select name="TimeToBeOpen" class="custom-select w-auto pt-0 pb-0" id="TimeSelector" required disabled>
                            <option value="">Choose Time</option>
                            <option value="1">1 Hour</option>
                            <option value="2">2 Hours</option>
                            <option value="3">3 Hours</option>
                            <option value="24">24 Hours</option>
                            <option value="48">48 Hours</option>
                        </select>

                    </td>
                </tr>
            </table>

            <br />
            <span style="font-size:14px; display:none" id="lastPriceLabel" class="badge badge-primary">Last purchase price:</span>
            <br />

            <input id="deployContractBtn" onclick="offerContract()" type="button" class="btn btn-success" value="Sign&Deploy Contract" disabled />

        }
    </div>
    <div style="float:left">
        <img class="w-75" style="float:right" id="imageAssetForm" />
    </div>
</div>
<!--data-toggle="modal" data-target="#dialogOfferContract"-->
<br />
<br />
<small class="text-danger">• The buyer and the Land Administration needs to approve your offer.</small>
<br />
<small class="text-danger">• Make sure all details are correct - All offers are final!</small>
<br />
<small class="text-danger">• The owner declares the asset is proper for residence. </small>





<div class="modal fade" id="dialogOfferContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateContractDialogTitle"></h4><!--Contract Offer Details-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="asset_dialog_body">
                <center><img style="display:none" class="w-75 p-3" id="dialogImageURL"></center>
                <h5 id="CreateContractDialogMessage"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" style="display:none" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

@section scripts
    {

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("createContractNavBar").style.textDecoration = "underline";
            document.getElementById("createContractNavBar").style.fontWeight = "bold";
        });
        function checkErrors()
        {
            var ErrorMsg = "";
            var accountBalance = @await Model.get_ETH_Balance();
            var buyerPublicKey = document.getElementById("BuyerAddressTxt").value;
            var sellerPublicKey = document.getElementById("OwnerPublicKeyTxt").value;

            if (buyerPublicKey == sellerPublicKey)
            {
                ErrorMsg = ErrorMsg + "You cannot offer the contract to yourself.<br>";
            }

            if (buyerPublicKey != "")
            {
                $.ajax({
                    url: "/CreateContract/CheckBuyerPublicKeyLegality",
                    type: 'POST',
                    async: false,
                    data : { BuyerPublicKey: buyerPublicKey },
                    success: function(data){
                    console.log("Buyer balance"+data)
                    if (data == -1)
                    {
                       ErrorMsg = ErrorMsg + "Buyer Public Key is illegal.<br>";
                    }
                 }
                });
            }

            if (accountBalance < 0.005)
            {
                ErrorMsg = ErrorMsg + "You running out of ETH, please deposit more ETH.<br>";
            }

            var form = document.getElementById('DeployContractForm');
            for (var i = 0; i < form.elements.length; i++)
                {
                    if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                       ErrorMsg = ErrorMsg + "You missed some required fields!<br>";
                        break;
                    }
                }

            return ErrorMsg;
        }

        function offerContract()
        {
            document.getElementById("CreateContractDialogMessage").innerHTML = "";
            ErrorMsg = checkErrors();

                if (ErrorMsg != "")
                {
                    $('#CreateContractDialogTitle').text("Error"); //show error headline
                    document.getElementById("CreateContractDialogMessage").innerHTML = ErrorMsg;
                    document.getElementById("closeButton").style.display = "block";
                    $('#dialogOfferContract').modal('show');
                    return;
                }


            document.getElementById("AssetSelector").disabled = true;
            DisableForm();
            $.ajax(
                {
                    url: "/CreateContract/DeployContract",
                    type: 'POST',
                    async: true,
                    data : $('#DeployContractForm').serialize(),
                    success: function (data)
                    {
                    console.log("Buyer balance"+data)
                        document.getElementById("DialogDeployContractMessageTitle").innerHTML = "";
                        document.getElementById("DialogDeployContractMessageContent").innerHTML = "";
                        document.getElementById("EtherscanURL").style.display = "block";
                        document.getElementById("DialogDeployContractMessageTitle").innerHTML = "The contract sent to the buyer successfully!";
                        document.getElementById("DialogDeployContractMessageContent").innerHTML = "You can watch your contract-";
                            
                        document.getElementById("EtherscanURL").href = "http://www.cnn.com/";
                        $('#DialogDeployContractMessage').modal('show');
                        document.getElementById("AssetSelector").disabled = false;
                        DeleteFormContent();
                        document.getElementById("AssetSelector").selectedIndex = "0";
                    }, 
                     
                    error: function (xhr, text, error)
                    {              
                        document.getElementById("DialogDeployContractMessageTitle").innerHTML = "";
                        document.getElementById("DialogDeployContractMessageContent").innerHTML = "";
                        document.getElementById("EtherscanURL").style.display = "none";
                        document.getElementById("DialogDeployContractMessageTitle").innerHTML = "Failed to send to the buyer!";
                        document.getElementById("DialogDeployContractMessageContent").innerHTML = "Try again later";
                        $('#DialogDeployContractMessage').modal('show');
                        EnableForm(assetReturnedFromFailedDeplyment);
                    }
                });


        }


        function getPriceInILS(EthPrice)
        {
            var exchangeRate = @Model.getExchangeRate_ETH_To_ILS();
            var IlsPrice = exchangeRate * EthPrice;
            IlsPrice = IlsPrice.toFixed(2);
            var IlsPriceToReturn = IlsPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return IlsPriceToReturn;
        }
        function SetIlsPrice()
        {
            var priceETH = $('#PriceEthTxt').val();
            var priceILS = getPriceInILS(priceETH);
            $('#PriceIlsTxt').val(priceILS);
        }


        function DeleteFormContent()
        {
            $('#AssetIdTxt').val("");
            $('#OwnerIdTxt').val("")
            $('#OwnerPublicKeyTxt').val("")
            $('#LoactionTxt').val("")
            $('#AreaInTxt').val("")
            $('#RoomsTxt').val("")
            $('#PriceIlsTxt').val("")
            $('#PriceEthTxt').val("");
            $('#BuyerAddressTxt').val("");
            document.getElementById("lastPriceLabel").textContent = "" ;
            document.getElementById("lastPriceLabel").style.display = "none";
            document.getElementById("TimeSelector").selectedIndex = "0";
            //document.getElementById("TimeSelector").value = "Deafult";
        }

        function DisableForm()
        {
            
            document.getElementById("PriceEthTxt").disabled = true;
            document.getElementById("BuyerAddressTxt").disabled = true;
            document.getElementById("PriceEthTxt").placeholder = "";
            document.getElementById("BuyerAddressTxt").placeholder = "";
            document.getElementById("TimeSelector").disabled = true;
            document.getElementById("deployContractBtn").disabled = true;
            document.getElementById("imageAssetForm").setAttribute("src", "");
            document.getElementById("AssetIdTxt").disabled = true;
            document.getElementById("AssetIdTxt").readOnly = false;
            document.getElementById("OwnerIdTxt").disabled = true;
            document.getElementById("OwnerIdTxt").readOnly = false;
            document.getElementById("OwnerPublicKeyTxt").disabled = true;
            document.getElementById("OwnerPublicKeyTxt").readOnly = false;
            document.getElementById("LoactionTxt").disabled = true;
            document.getElementById("LoactionTxt").readOnly = false;
            document.getElementById("AreaInTxt").disabled = true;
            document.getElementById("AreaInTxt").readOnly = false;
            document.getElementById("RoomsTxt").disabled = true;
            document.getElementById("RoomsTxt").readOnly = false;
            document.getElementById("PriceIlsTxt").disabled = true;
            document.getElementById("PriceIlsTxt").readOnly = false;
            document.getElementById("BuyerAddressTxt").disabled = true;
            document.getElementById("BuyerAddressTxt").readOnly = false; 
            
        }

        function EnableForm(getAssetJson)
        {
            document.getElementById("AssetIdTxt").disabled = false;
            document.getElementById("AssetIdTxt").readOnly = true;
            document.getElementById("OwnerIdTxt").disabled = false;
            document.getElementById("OwnerIdTxt").readOnly = true;
            document.getElementById("OwnerPublicKeyTxt").disabled = false;
            document.getElementById("OwnerPublicKeyTxt").readOnly = true;
            document.getElementById("LoactionTxt").disabled = false;
            document.getElementById("LoactionTxt").readOnly = true;
            document.getElementById("AreaInTxt").disabled = false;
            document.getElementById("AreaInTxt").readOnly = true;
            document.getElementById("RoomsTxt").disabled = false;
            document.getElementById("RoomsTxt").readOnly = true;
            document.getElementById("PriceIlsTxt").disabled = false;
            document.getElementById("PriceIlsTxt").readOnly = true;

            var asset = JSON.parse(getAssetJson);
            $('#AssetIdTxt').val(asset.AssetID);
            $('#OwnerIdTxt').val(asset.OwnerID)
            $('#OwnerPublicKeyTxt').val(asset.OwnerPublicKey)
            $('#LoactionTxt').val(asset.Loaction)
            $('#AreaInTxt').val(asset.AreaIn)
            $('#RoomsTxt').val(asset.Rooms)
            $('#PriceIlsTxt').val("0")
            document.getElementById("lastPriceLabel").textContent = "Last purchase price: " + asset.Price + "ETH | ₪"+getPriceInILS(asset.Price);
            document.getElementById("lastPriceLabel").style.display = "block";
            document.getElementById("PriceEthTxt").disabled = false;
            document.getElementById("BuyerAddressTxt").disabled = false;
            document.getElementById("PriceEthTxt").placeholder = "Insert Price";
            document.getElementById("BuyerAddressTxt").placeholder = "Insert Buyer Address";
            document.getElementById("TimeSelector").disabled = false;
            document.getElementById("deployContractBtn").disabled = false;
            document.getElementById("imageAssetForm").setAttribute("src", asset.ImageURL);

        }

        var assetReturnedFromFailedDeplyment; //to reload the asset details in case of failure in the deployment

        window.onload = function ()
        {
        var eSelect = document.getElementById('AssetSelector');

            eSelect.onchange = function ()
            {
                var getAssetJson = eSelect.options[eSelect.selectedIndex].value;
                if (getAssetJson == "Deafult")
                {
                    DisableForm();
                    DeleteFormContent();
                    return;
                }
                assetReturnedFromFailedDeplyment = getAssetJson;
                EnableForm(getAssetJson);     
            }
        }

    </script>
}
