@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "CreateContract";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<br />
<h1>Create Contract</h1>

@section scripts
{

    <script type="text/javascript">

        $(document).ready(function () {
            document.getElementById("createContractNavBar").style.textDecoration = "underline";
            document.getElementById("createContractNavBar").style.fontWeight = "bold";
        });
    </script>
 }