@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "CreateContract";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<br />
<h1>Create Contract</h1>
<br />
<h3>Prepare a contract</h3>
<br />
<div style="display:inline-flex">
    <div>
        <select class="custom-select w-auto" id="AssetSelector">
            <option value="Deafult">Choose Asset</option>
            @foreach (var a in @Model.OwnAssetsList)
            {
                var AssetSerialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);
                <option value=@AssetSerialModel>Asset No: @a.AssetID</option>
            }
        </select>
        <label class="ml-2" style="color:red">*Only available assets will be included</label>
        <br />
        <br />
        <div style="display:inline-flex">
            <div>
                <label>Your ID:</label>
                <input class="form-control form-control-sm w-auto" type="text" id="OwnerIdTxt" disabled>
            </div>
            <div class="ml-2">
                <label>Your Public Key:</label>
                <input class="form-control form-control-sm w-auto" type="text" id="OwnerPublicKeyTxt" disabled>
            </div>
        </div>
        <br />
        <br />
        <div style="display:inline-flex">
            <div>
                <label>Loaction:</label>
                <input class="form-control form-control-sm w-auto" type="text" id="LoactionTxt" disabled>
            </div>
            <div class="ml-2">
                <label>Area-In [m^2]:</label>
                <input class="form-control form-control-sm w-auto" type="number" id="AreaInTxt" disabled>
            </div>
            <div class="ml-2">
                <label>Rooms:</label>
                <input class="form-control form-control-sm w-auto" type="number" id="RoomsTxt" disabled>
            </div>
        </div>
        <br />
        <br />
        <div style="display:inline-flex">
            <div>
                <label>Buyer Address</label>
                <input class="form-control form-control-sm w-auto" type="text" id="BuyerAddressTxt" placeholder="" disabled>
            </div>
            <div class="ml-2">
                <label>Price [ETH]:</label>
                <input class="form-control form-control-sm w-auto" step="0.1" type="number" id="PriceEthTxt" min="0" placeholder="" disabled onchange="SetIlsPrice()">
            </div>
            <div class="ml-2">
                <label>Price [₪]:</label>
                <input class="form-control form-control-sm w-auto" id="PriceIlsTxt" disabled>
            </div>
        </div>
        <br /><br />
        <label>TimeToComplete:</label>
        <br />
        <div style="display:inline-flex">
            <select class="custom-select w-auto pt-0 pb-0" id="TimeSelector" disabled>
                <option value="Deafult">Choose Time</option>
                <option value="1">1 Hour</option>
                <option value="2">2 Hours</option>
                <option value="3">3 Hours</option>
                <option value="24">24 Hours</option>
                <option value="48">48 Hours</option>

            </select>
            <span style="font-size:14px; display:none" id="lastPriceLabel" class="badge badge-primary ml-3 p-1 h-25">Last purchase price:</span>
        </div>
    </div>

    <div>
        <img class="w-75" style="float:right" id="imageAssetForm" />
    </div>
</div>
<br />
<br />
<br />
<button id="deployContractBtn" data-toggle="modal" data-target="#dialogOfferContract" onclick="offerContract()"  type="button" class="btn btn-success" disabled >Sign&Deploy Contract</button>



<div class="modal fade" id="dialogOfferContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateContractDialogTitle"></h4><!--Contract Offer Details-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="asset_dialog_body">
                <center><img style="display:none" class="w-75 p-3" id="dialogImageURL"></center>
                <h5 id="dialogErrorMessage"></h5>
                <p style="display:none" id="dialogAssetID"></p>
                <p style="display:none" id="dialogOwnerID"></p>
                <p style="display:none" id="dialogOwnerPublicKey"></p>
                <p style="display:none" id="dialogLoaction"></p>
                <p style="display:none" id="dialogAreaIn"></p>
                <p style="display:none" id="dialogRooms"></p>
                <p style="display:none" id="dialogPrice"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="abortButton" class="btn btn-danger" style="display:none" data-dismiss="modal">Cancel</button>
                <button type="button" id="successButton" class="btn btn-success d-none" data-dismiss="modal">Sign Contract</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{

    <script type="text/javascript">

        $(document).ready(function () {
            document.getElementById("createContractNavBar").style.textDecoration = "underline";
            document.getElementById("createContractNavBar").style.fontWeight = "bold";
        });


        function checkErrors()
        {
            var ErrorMsg = "";          
            var buyerPublicKey = document.getElementById("BuyerAddressTxt").value;
            if (buyerPublicKey == "")
            {
                ErrorMsg = ErrorMsg+"Please Insert buyer Public Key.<br>";         
            } 
            
            var dealPrice = document.getElementById("PriceEthTxt").value;
            if (dealPrice == "")
            {
                ErrorMsg = ErrorMsg+"Please Insert buyer price.<br>";     
            }

            var timeTobeOpen = document.getElementById("TimeSelector").value;
            if (timeTobeOpen == "Deafult")
            {
                ErrorMsg = ErrorMsg + "Please Insert time.<br>";
            }

            var url = "/CreateContract/CheckBuyerPublicKeyLegality";

            $.post(url, { BuyerPublicKey: buyerPublicKey }, function (data)
            {
                console.log("Buyer balance"+data)
             if (data == -1)
             {
                ErrorMsg = ErrorMsg + "Buyer Public Key is illegal.<br>";//
             }
            

        });

            return ErrorMsg;
        }

        function offerContract()
        {
            ErrorMsg = checkErrors();
                
                if (ErrorMsg != "")
                {
                    $('#CreateContractDialogTitle').text("Error"); //show error headline
                    document.getElementById("dialogErrorMessage").innerHTML = ErrorMsg;;
                    $('#abortButton').text("Close");
                    document.getElementById("abortButton").style.display = "block";
                }
            
        }



        function getPriceInILS(EthPrice)
        {
            var exchangeRate = @Model.getExchangeRate_ETH_To_ILS();
            var IlsPrice = exchangeRate * EthPrice;
            IlsPrice = IlsPrice.toFixed(2);
            var IlsPriceToReturn = IlsPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return IlsPriceToReturn;
        }


        function SetIlsPrice()
        {
            var priceETH = $('#PriceEthTxt').val();
            var priceILS = getPriceInILS(priceETH); 
            $('#PriceIlsTxt').val(priceILS);
        }



        window.onload = function ()
        {
        var eSelect = document.getElementById('AssetSelector');
        
            eSelect.onchange = function ()
            {
                var getAssetJson = eSelect.options[eSelect.selectedIndex].value;
                if (getAssetJson == "Deafult")
                {
                    $('#OwnerIdTxt').val("")
                    $('#OwnerPublicKeyTxt').val("")
                    $('#LoactionTxt').val("")
                    $('#AreaInTxt').val("")
                    $('#RoomsTxt').val("")
                    $('#PriceIlsTxt').val("")
                    $('#PriceEthTxt').val("");
                    //$('#PriceEthTxt').val(asset.Price)
                    document.getElementById("lastPriceLabel").textContent = "" ; 
                    document.getElementById("lastPriceLabel").style.display = "none";
                    document.getElementById("PriceEthTxt").disabled = true;  
                    document.getElementById("BuyerAddressTxt").disabled = true; 
                    document.getElementById("PriceEthTxt").placeholder = "";
                    document.getElementById("BuyerAddressTxt").placeholder = "";
                    document.getElementById("TimeSelector").disabled = true;
                    document.getElementById("deployContractBtn").disabled = true;
                    document.getElementById("imageAssetForm").setAttribute("src", "");
                    document.getElementById("TimeSelector").value="Deafult";
                    return;
                }
                    
                var asset = JSON.parse(getAssetJson);
                //console.log(asset);
                
                $('#OwnerIdTxt').val(asset.OwnerID)
                $('#OwnerPublicKeyTxt').val(asset.OwnerPublicKey)
                $('#LoactionTxt').val(asset.Loaction)
                $('#AreaInTxt').val(asset.AreaIn)
                $('#RoomsTxt').val(asset.Rooms)
                $('#PriceIlsTxt').val("0")
                //$('#PriceEthTxt').val(asset.Price)
                document.getElementById("lastPriceLabel").textContent = "Last purchase price: " + asset.Price + "ETH | ₪"+getPriceInILS(asset.Price); 
                document.getElementById("lastPriceLabel").style.display = "block";
                document.getElementById("PriceEthTxt").disabled = false;  
                document.getElementById("BuyerAddressTxt").disabled = false; 
                document.getElementById("PriceEthTxt").placeholder = "Insert Price";
                document.getElementById("BuyerAddressTxt").placeholder = "Insert Buyer Address";
                document.getElementById("TimeSelector").disabled = false;
                document.getElementById("deployContractBtn").disabled = false;
                document.getElementById("imageAssetForm").setAttribute("src", asset.ImageURL);
        

            }
        }
    


    </script>
}
