@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "CreateContract";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<br />
<h1>Create Contract</h1>
<br />
<h3>Prepare a contract</h3>
<br />




<div style="display:inline-flex">
    <select name="" required class="custom-select w-auto" id="AssetSelector">
        <option value="Deafult">Choose Asset</option>
        @foreach (var a in @Model.OwnAssetsList)
        {
            var AssetSerialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);
            <option value=@AssetSerialModel>Asset No: @a.AssetID</option>
        }
    </select>
    <small class="ml-2" style="color:red">*Only available assets will be included</small>
    <br />
    <br />
</div>
<div style="display:flex">
    <div>
        @using (Html.BeginForm("DeployContract", "CreateContract", FormMethod.Post, new { @id = "DeployContractForm" }))
        { }
        <table>
            <tr>
                <td>

                    <label>Asset ID:</label>
                    <input name="AssetID" class="form-control form-control-sm w-auto" type="text" id="AssetIdTxt" disabled>
                    <br />
                </td>
                <td></td>
                <td>
                    <label>Your ID:</label>
                    <input name="OwnerID" class="form-control form-control-sm w-auto" type="text" id="OwnerIdTxt" disabled>
                    <br />
                </td>
                <td></td>
                <td>
                    <label>Your Public Key:</label>
                    <input name="SellerPublicKey" class="form-control form-control-sm w-auto" type="text" id="OwnerPublicKeyTxt" disabled>
                    <br />
                </td>
            </tr>

            <tr>
                <td>

                    <label>Loaction:</label>
                    <input name="Loaction" class="form-control form-control-sm w-auto" type="text" id="LoactionTxt" disabled>
                    <br />
                </td>
                <td></td>
                <td>
                    <label>Area-In [m^2]:</label>
                    <input name="AreaIn" class="form-control form-control-sm w-auto" type="number" id="AreaInTxt" disabled>
                    <br />
                </td>
                <td></td>
                <td>
                    <label>Rooms:</label>
                    <input name="Rooms" class="form-control form-control-sm w-auto" type="number" id="RoomsTxt" disabled>
                    <br />
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <label>Buyer Public Key</label>
                    <input onchange="getBuyerID()" name="BuyerPublicKey" required class="form-control form-control-sm w-auto" type="text" id="BuyerAddressTxt" placeholder="" disabled>
                    <br />
                </td>
                <td></td>
                <td>
                    <label>Price [ETH]:</label>
                    <input name="PriceETH" required class="form-control form-control-sm w-auto" step="0.1" type="number" id="PriceEthTxt" min="0" placeholder="" disabled onchange="SetIlsPrice()">
                    <br />
                </td>
                <td></td>
                <td>
                    <label>Price [₪]:</label>
                    <input name="PriceILS" class="form-control form-control-sm w-auto" id="PriceIlsTxt" disabled>
                    <br />
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <label>BuyerID:</label>
                    <input name="BuyerID" class="form-control form-control-sm w-auto" id="BuyerIdTxt" disabled>
                </td>
                <td></td>

                <td>
                    <br />
                    <select style="position:relative; top:4px" name="TimeToBeOpen" class="  custom-select w-auto" id="TimeSelector" required disabled>
                        <option value="">Choose Time</option>
                        <option value="1">1 Hour</option>
                        <option value="2">2 Hours</option>
                        <option value="3">3 Hours</option>
                        <option value="24">24 Hours</option>
                        <option value="48">48 Hours</option>
                    </select>

                </td>

            </tr>
        </table>

        <br />
        <span style="font-size:14px; display:none" id="lastPriceLabel" class="badge badge-primary">Last purchase price:</span>
        <span style="font-size:14px; display:none" id="TaxLabel" class="badge badge-warning"></span>
        <br />
        <br />
        <div style="display:flex ; ">
            <!--<input id="deployContractBtn" onclick="offerContract()" type="button" class="btn btn-success" value="Sign&Deploy Contract" disabled hidden/>-->
            <button id="deployContractBtn" onclick="offerContract()" class="btn btn-success" disabled>Sign&Deploy Contract&nbsp&nbsp<i class="fa fa-pencil-square-o  fa-lg" aria-hidden="true"></i> </button>
            <img style="display:none" id="DeployLoader" src="https://s5.gifyu.com/images/LoaderDeploy.gif" alt="LoaderDeploy.gif" border="0" />

        </div>

    </div>
    <div style="float:left">
        <img name="ImageURL" class="w-75" style="float:right" id="imageAssetForm" />
    </div>
</div>
<!--data-toggle="modal" data-target="#dialogOfferContract"-->
<br />

<small class="text-danger">• The buyer and the Land Administration needs to approve your offer.</small>
<br />
<small class="text-danger">• Make sure all details are correct - All offers are final!</small>
<br />
<small class="text-danger">• The owner declares the asset is proper for residence. </small>
<br />
<small class="text-danger">• Contract deployment may take a few minutes. </small>




<div class="modal fade" id="dialogOfferContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CreateContractDialogTitle"></h4><!--Contract Offer Details-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="asset_dialog_body">
                <center><img style="display:none" class="w-75 p-3" id="dialogImageURL"></center>
                <h5 id="CreateContractDialogMessage"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" style="display:none" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="modal position-fixed" id="DialogDeployContractMessage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="DialogDeployContractMessageTitle" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="display:flex" class="modal-body">
                
                    
                        <table>
                            <tr>
                                <td>
                                    <h5 id="DialogDeployContractMessageContent1"></h5>
                                    <h5 style="display:none" id="DialogDeployContractErrorMessageContent">Failed to send to the buyer!</h5>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5 id="DialogDeployContractMessageContent2"></h5>
                                </td>    
                            </tr>
                            <tr>
                                <td>
                                    <div style="display:flex">
                                        <h5 id="DialogDeployContractMessageContent3">You can track it</h5>
                                        <a style="font-size:16px" target="_blank" id="EtherscanURL" href="">&nbsp Here.</a>
                                    </div>

                                    <h5 class="text-danger" style="display:none" id="DialogDeployContractMessageContent4"></h5>
                                </td>
                            </tr>

                        </table>

                        <img id="deployConfirmation" style="width:70px; height:70px; margin-left:auto"  />                     

            </div>
            <div class="modal-footer">
                <button type="button" id="closeButtonDeploy" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section scripts
    {

    <script type="text/javascript">

        var assetReturnedFromFailedDeplyment; //to reload the asset details in case of failure in the deployment
        $(document).ready(function () //set bold to the links of this page
        {
            document.getElementById("createContractNavBar").style.textDecoration = "underline";
            document.getElementById("createContractNavBar").style.fontWeight = "bold";
            var eSelect = document.getElementById('AssetSelector');

            eSelect.onchange = function () //event for the combobox of the own assets for the contract deployment
            {
                var getAssetJson = eSelect.options[eSelect.selectedIndex].value;
                if (getAssetJson == "Deafult")
                {
                    DisableForm();
                    DeleteFormContent();
                    return;
                }

                document.getElementById("TimeSelector").selectedIndex = "0";
                $('#PriceIlsTxt').val("")
                $('#PriceEthTxt').val("");
                $('#BuyerAddressTxt').val("");
                $('#BuyerIdTxt').val("N/A");
                document.getElementById("BuyerIdTxt").style.color = "black";
                document.getElementById("TaxLabel").textContent = "Tax amount: 0 ETH | ₪0";
                assetReturnedFromFailedDeplyment = getAssetJson;
                EnableForm(getAssetJson);
            }

        });

    

        function SetIlsPrice() //set ils price on the text box
        {
            var priceETH = $('#PriceEthTxt').val();
            var priceILS = getPriceInILS(priceETH);
            $('#PriceIlsTxt').val(priceILS);
            var taxAmountETH = priceETH * 0.17;
            var taxAmountILS = priceETH *@Model.exchangeRateETH_ILS * 0.17;
            taxAmountETH = taxAmountETH.toFixed(2);
            taxAmountILS = taxAmountILS.toFixed(2);
            taxAmountILS = taxAmountILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            document.getElementById("TaxLabel").textContent = "Tax amount: " + taxAmountETH + " ETH | ₪" + taxAmountILS;
        }

        function checkErrors() //check pre condition errors for the deployment
        {
            var ErrorMsg = "";
            var accountBalance = @Model.EthBalance;
            var buyerPublicKey = document.getElementById("BuyerAddressTxt").value;
            var sellerPublicKey = document.getElementById("OwnerPublicKeyTxt").value;

            if (buyerPublicKey == sellerPublicKey)
            {
                ErrorMsg = ErrorMsg + "You cannot offer the contract to yourself.<br>";
            }

            if (buyerPublicKey != "")
            {
                $.ajax({
                    url: "/CreateContract/CheckBuyerPublicKeyLegality",
                    type: 'POST',
                    async: false,
                    data : { BuyerPublicKey: buyerPublicKey, YourPublicKey: sellerPublicKey },
                    success: function (data)
                    {
                    
                    console.log("Buyer balance"+data)
                    if (data == -1)
                    {
                       ErrorMsg = ErrorMsg + "Buyer Public Key is illegal.<br>";
                    }
                 }
                });
            }

            if (accountBalance < 0.005)
            {
                ErrorMsg = ErrorMsg + "You running out of ETH, please deposit more ETH.<br>";
            }

            var inputBuyerPublicKey = document.getElementById("BuyerAddressTxt").value;
            var inputPriceEth = document.getElementById("PriceEthTxt").value;
            var inputTimeToBeOpen = document.getElementById("TimeSelector").value;

            if (inputBuyerPublicKey == '' || inputPriceEth == '' || inputTimeToBeOpen == '')
            {
                ErrorMsg = ErrorMsg + "You missed some required fields!<br>";
                console.log("The new test for empty fields has been proven");
            }

            getBuyerID();
            var buyerIDTxt = document.getElementById("BuyerIdTxt").value;
            if (buyerIDTxt == "Error- buyer is not recognized")
                ErrorMsg = ErrorMsg + "Buyer public-key is not recognized!<br>";



            /*
            var form = document.getElementById('DeployContractForm');
            for (var i = 0; i < form.elements.length; i++)
                {
                    if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                       ErrorMsg = ErrorMsg + "You missed some required fields!<br>";
                        break;
                    }
                }*/

            return ErrorMsg;
        }

        function getPriceInILS(EthPrice) //convers ETH to ILS
        {
            var exchangeRate = @Model.exchangeRateETH_ILS;
            var IlsPrice = exchangeRate * EthPrice;
            IlsPrice = IlsPrice.toFixed(2);
            var IlsPriceToReturn = IlsPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return IlsPriceToReturn;
        }


        



    </script>
}
