@model DappAccount
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    @using (Html.BeginForm("AccountMainPage", "DappAccount", FormMethod.Post))
    {

        <div class="row justify-content-center">
            @Html.TextBoxFor(m => m.publicKey, new { id = "public_key_input", placeholder = "Ethereum Public Key", required = "required" })
        </div> <br />
        <div class="row justify-content-center">
            @Html.TextBoxFor(m => m.privateKey, new { id = "private_key_input", placeholder = "Ethereum Private Key", required = "required", type = "password" })
        </div> <br />
        <div class="row justify-content-center">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    }
</div>