@model DappAccount
@{
    ViewData["Title"] = "Home Page";
}
@section scripts
    {
    <script language="javascript">

        $(document).ready(function () //reset public key input
        {
            $("#public_key_input").val("");
        });
     
    </script>
    }
    

    
<div class="container">
    <br /><br /><br /><br /><br /><br />
    <center><img src="~/img/Logo.png" style="width:90%; height:auto" /></center>
    @using (Html.BeginForm("AccountMainPage", "DappAccount", FormMethod.Post, new { @id = "myform" }))
    {
        <style>
            .icon {
                padding: 5px;
                background: dodgerblue;
                color: white;
                min-width: 40px;
                text-align: center;
            }
        </style><!--row justify-content-center input-container p-0-->
        <div class="">
            <center>
                <i  style="position:relative; left:2.5px" class="fa fa-user icon"></i>
                @Html.TextBoxFor(m => m.publicKey, new { id = "public_key_input", placeholder = "Ethereum Public Key", required = "required",  style="position:relative; left:-2.5px" })
            </center>
        </div>
        <br /><!--row justify-content-center-->
        <div class="">
            <center>
                <i  style="position:relative; left:2.5px" class="fa fa-key icon"></i>
                @Html.TextBoxFor(m => m.privateKey, new { id = "private_key_input", placeholder = "Ethereum Private Key", required = "required", type = "password",  style="position:relative; left:-2.5px" })
            </center>
        </div> 
        
        <br />
        <div class="row justify-content-center">
            <img id="loader" style="display: none;" src="https://s5.gifyu.com/images/Loader5a73d3b26568dbc4.gif" alt="Loader5a73d3b26568dbc4.gif" border="0" />
            <img id="israelLogo" style="display: none; width:110px; height: auto " src="~/img/IsraelSymbol.png" />
        </div> <br />
    }
    <div class="row justify-content-center">
        <input style="display:none" id="submit" type="button" value="Login" class="btn btn-primary" onclick="SendLoginData()" />
        <button class="btn btn-primary" onclick="SendLoginData()" id="submit">Login&nbsp<i class="fa fa-sign-in"></i></button>
    </div>
</div>