@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "In Going Requests";
    Layout = "~/Views/Shared/_LayoutRegulator.cshtml";
}

<h1>InGoingRequests</h1>





@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("navBarInGoingRequest").style.textDecoration = "underline";
            document.getElementById("navBarInGoingRequest").style.fontWeight = "bold";
        });
    </script>
}